<!-- cssnya satu soalnya biar tidak mengulang style yang sama seperti btn contact me -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>biography</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        button {
            border: none;
            padding: 20px 40px;
            font-size: 44px;
            position: relative;
            background: transparent;
            color: #000000;
            text-transform: uppercase;
            border: 3px solid #000000;
            cursor: pointer;
            transition: all 0.7s;
            overflow: hidden;
            border-radius: 20px;
        }

        button:hover {
            color: #f8f8f8;
        }

        span {
            transition: all 0.7s;
            z-index: -1;
        }

        button .first {
            content: "";
            position: absolute;
            right: 100%;
            top: 0;
            width: 25%;
            height: 100%;
            background: #000000;
        }

        button:hover .first {
            top: 0;
            right: 0;
        }

        button .second {
            content: "";
            position: absolute;
            left: 25%;
            top: -100%;
            height: 100%;
            width: 25%;
            background: #000000;
        }

        button:hover .second {
            top: 0;
            left: 50%;
        }

        button .third {
            content: "";
            position: absolute;
            left: 50%;
            height: 100%;
            top: 100%;
            width: 25%;
            background: #000000;
        }

        button:hover .third {
            top: 0;
            left: 25%;
        }

        button .fourth {
            content: "";
            position: absolute;
            left: 100%;
            top: 0;
            height: 100%;
            width: 25%;
            background: #000000;
        }

        button:hover .fourth {
            top: 0;
            left: 0;
        }
        .warp_sks{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            width: 100vw;
            flex-direction: column;
        }
    </style>
</head>

<body style="background-color: rgb(236, 233, 233);">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary position-fixed px-4">
        <div class="container-fluid">
            <img src="/assets/img/dw.png" alt="" srcset="" class="logo_nav">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/add_my_project">My Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/oop">oop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/api">rating</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-lg-none" href="/contact">Contact Me</a>
                    </li>
                </ul>
            </div>
            {{#if isLogin}}
            <div class="d-flex sdlogout">
                <a class="fw-bold nav-link">selamat datang {{user}} </a>
                <a class="nav-link" href="/logout">| logout</a>
            </div>
            {{else}}
            <div class="sdlogout">
                <a class="nav-link" href="/register">register</a>
                <a class="nav-link" href="/login">| login</a>
            </div>
            {{/if}}
            <a href="/contact" type="button" class="btn btn-dark d-none d-lg-block">contact Me</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>


    <div class="warp_sks">
        <img src="../assets/img/ceklis.gif" alt="" srcset="" width="50px">
        <h1>DATA BERASIL MENAMBAHKAN </h1>
        <a href="add_my_project">
            <button>
            kembali
            <span class="first"></span>
            <span class="second"></span>
            <span class="third"></span>
            <span class="fourth"></span>
        </button>
        </a>
        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>

</body>

</html>